<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Form</title>
  </head>
  <body>
    <h1 style="text-align: center; margin-bottom: 50px">
      FIRST APPLICATION FORM
    </h1>
    <section>
      <div style="text-align: center">
        First Name:
        <input
          type="text"
          value="{{first_name}}"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        Middle Name:
        <input
          type="text"
          value=""
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        Last Name:
        <input
          type="text"
          value="{{last_name}}"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />
      </div>

      <div style="text-align: center; margin-top: 45px">
        Date Of Birth:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        Gender:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        Relationship:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />
      </div>

      <div style="text-align: center; margin-top: 45px">
        Employed:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 330px;
          "
        />

        Address:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        citizenship:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />
      </div>

      <div style="text-align: center; margin-top: 45px">
        Email:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        Phone Number:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        High School:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />
      </div>

      <div style="text-align: center; margin-top: 45px">
        Post Secondary Education:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        Have you travelled before:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 150px;
          "
        />

        where:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />
      </div>

      <div style="text-align: center; margin-top: 45px">
        illness
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />

        accommodation?:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 270px;
          "
        />

        native language:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 300px;
          "
        />
      </div>

      <div style="margin-left: 100px; margin-top: 50px">
        other language:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid black;
            width: 500px;
          "
        />
      </div>

      <div style="text-align: center; margin-top: 45px">
        Passport number
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid #161c2d;
            width: 300px;
          "
        />

        Date Issued:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 1px solid #161c2d;
            width: 250px;
          "
        />

        Date Expired:
        <input
          value=""
          type="text"
          style="
            border: none;
            margin-right: 15px;
            border-bottom: 1px solid #161c2d;
            width: 300px;
          "
        />
      </div>

      <div style="margin-left: 100px; margin-top: 40px">
        <p>INFORMATION ON VISA REFUSAL</p>
        Which country<input
          type="text"
          style="
            width: 200px;
            margin-right: 25px;
            border: none;
            border-bottom: 1px solid black;
          "
        />
        Reason?<input
          type="text"
          style="width: 750px; border: none; border-bottom: 1px solid black"
        />
      </div>
    </section>
  </body>
</html>
