<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Form</title>
    <style>
      .line{
        font-weight: 700;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    
    <h1 style="text-align: center; margin-bottom: 50px">
      FIRST APPLICATION FORM
    </h1>
    <section>
      <div style="text-align: left">
         <span >First Name: <span class="line">___{{first_name}}__________</span></span>
         <span >Middle Name: <span class="line">___{{middle_name}}__________</span></span>
         <span >Last Name: <span class="line">___{{last_name}}__________</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span >Date of Birth: <span class="line">___{{dob}}__________</span></span>
         <span >Gender: <span class="line">___{{gender}}__________</span></span>
         <span >Relationship: <span class="line">___{{relationship}}__________</span></span>
      </div>

      
      <div style="text-align: left; margin-top: 55px">
        <span >Employed: <span class="line">___{{employment}}__________</span></span>
         <span >Citizenship: <span class="line">___{{citizenship}}__________</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span >Adress: <span class="line">___{{adress}}_____</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span >Email: <span class="line">___{{email}}_____</span></span>
          <span >Phone Number: <span class="line">___{{tel}}__________</span></span>
      </div>
          
      <div style="text-align: left; margin-top: 55px">
        <span >High School: <span class="line">___{{high_school}}_____</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span>Post Secondary Education: <span class="line">___{{post_secondary_sch}}_____</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span>Place of work: <span class="line">___{{work}}_____</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span>Have you travelled before: <span class="line">___{{travel}}__________</span></span>
        <span>Have you travelled before: <span class="line">___{{travel_place}}__________</span></span>
      </div>


      <div style="text-align: left; margin-top: 55px">
        <span>Illness: <span class="line">___{{illness}}__________</span></span>
        <span>Accommodation: <span class="line">___{{accomodation}}_____</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span>Native Language: <span class="line">___{{native_lang}}__________</span></span>
        <span>Other Languages: <span class="line">___{{other_lang}}_____</span></span>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span>Passport number: <span class="line">___{{passport_num}}_____</span></span>
        <span>Date Issued: <span class="line">___{{issue_date_passport}}__________</span></span>
        <span>Date Expired: <span class="line">___{{expire_date_passport}}__________</span></span>
      </div>




      <div style="text-align:left; margin-top: 75px">
        <p style="text-align: center;">INFORMATION ON VISA REFUSAL</p>
      </div>

      <div style="text-align: left; margin-top: 55px">
        <span>Country: <span class="line">___{{visa_refusal}}__________</span></span>
        <span>Reason: <span class="line">___{{visa_refusal_reason}}_____</span></span>
      </div>


    </section>
  </body>
</html>
