{% extends 'base.html' %}
{% load static %}


{% block content %}
    <header class="p-5">
      <h1 class="text-center mt-5">BUSINESS</h1>
  </header>
  <section id="business" class="p-1 pt-3 business">
      <h3 class="mb-5 header-text">Conferences.</h3>

      <!-- <div class="container"> -->
          
          <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingconference">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseconference" aria-expanded="false" aria-controls="flush-collapseconference">
                      <h5>Requirements For Conferences<strong></strong></h5>
                  </button>
                </h2>
                
                <div id="flush-collapseconference" class="accordion-collapse collapse" aria-labelledby="flush-headingconference" data-bs-parent="#accordionFlushExample">
      
                  <div class="accordion-body">
                    <strong>° Place Of Work</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Travel History</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° CV(Use Microsoft Word) </strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Data Page Of International Passport (Scanned)</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Birth Certificate</strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Completion Of Required Country Form</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Invitation Letter</strong>.
                  </div>
                  <div class="accordion-body">
                      <strong>° Refusal, Removal Order or deportation Histories must be reported.</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Academic Credentials If any.</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Position Of Work </strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Birth Certificate / Affidavit or Attestation From FG</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° 1 Passport Photo (Black And White)</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Bank Statement</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Contact Address</strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Mobile Number</strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Personal E - mail</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° If Self Employed : Corporate Affair Commission</strong>.
                  </div>
  
                  <div class="accordion-body">
                    <strong>° If Employed : Employment Letter</strong>.
                  </div>
  
                  <div class="accordion-body">
                   <strong>° If Employed : Letter Of Introduction</strong>.
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- <div class="px-3"> -->
              <p class="mt-4"> CLICK THE BUTTON BELOW TO START YOUR APPLICATION</strong></p>
              <button class="btn btn-warning"> APPLY NOW<i class="bi h4 bi-box-arrow-in-right"></i></button>  
            <!-- </div> -->
      <!-- </div> -->
  </section>

  
  <section id="seminars" class="p-1 pt-3 seminars">
      <h3 class="mb-5 header-text">Seminars.</h3>

      <!-- <div class="container"> -->
          <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingseminar">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseminar" aria-expanded="false" aria-controls="flush-collapseseminar">
                      <h5>Requirements For Seminars<strong></strong></h5>
                  </button>
                </h2>
                
                <div id="flush-collapseseminar" class="accordion-collapse collapse" aria-labelledby="flush-headingseminar" data-bs-parent="#accordionFlushExample">
      
                  <div class="accordion-body">
                    <strong>° Place Of Work</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Travel History</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° CV(Use Microsoft Word) </strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Data Page Of International Passport</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Birth Certificate</strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Completion Of Required Country Form</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Invitation Letter</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Position Of Work </strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Birth Certificate / Affidavit or Attestation From FG</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° 1 Passport Photo (Black And White)</strong>.
                  </div>
                  <div class="accordion-body">
                    <strong>° Refusal, Removal Order or deportation Histories must be reported.</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Academic Credentials If any.</strong>.
                </div>
  
                  <div class="accordion-body">
                      <strong>° Bank Statement</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° Contact Address</strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Mobile Number</strong>.
                  </div>
                  
                  <div class="accordion-body">
                      <strong>° Personal E - mail</strong>.
                  </div>
  
                  <div class="accordion-body">
                      <strong>° If Self Employed : Corporate Affair Commission</strong>.
                  </div>
  
                  <div class="accordion-body">
                    <strong>° If Employed : Employment Letter</strong>.
                  </div>
  
                  <div class="accordion-body">
                   <strong>° If Employed : Letter Of Introduction</strong>.
                  </div>
                 
                  
                </div>
              </div>
            </div>

            <div class="px-3">
              <p class="mt-4"> CLICK THE BUTTON BELOW TO START YOUR APPLICATION<strong></strong></p>
              <button class="btn btn-warning"> APPLY NOW<i class="bi h4 bi-box-arrow-in-right"></i></button>      
          </div>
          
      <!-- </div> -->
  
  
  
  
  </section>


  <section id="meetings" class="pt-3 p-1 meetings">
    <h3 class="mb-5 header-text">Meetings.</h3>

    <!-- <div class="container"> -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingmeetings">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsemeetings" aria-expanded="false" aria-controls="flush-collapsemeetings">
                    <h5>Requirements For Meetings<strong></strong></h5>
                </button>
              </h2>
              
              <div id="flush-collapsemeetings" class="accordion-collapse collapse" aria-labelledby="flush-headingmeetings" data-bs-parent="#accordionFlushExample">
    
                <div class="accordion-body">
                  <strong>° Place Of Work</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Travel History</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° CV(Use Microsoft Word) </strong>.
                </div>
                
                <div class="accordion-body">
                    <strong>° Data Page Of International Passport</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Birth Certificate</strong>.
                </div>
                
                <div class="accordion-body">
                    <strong>° Completion Of Required Country Form</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Invitation Letter</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Position Of Work </strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Refusal, Removal Order or deportation Histories must be reported.</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Academic Credentials If any.</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Birth Certificate / Affidavit or Attestation From FG</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° 1 Passport Photo (Black And White)</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Bank Statement</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° Contact Address</strong>.
                </div>
                
                <div class="accordion-body">
                    <strong>° Mobile Number</strong>.
                </div>
                
                <div class="accordion-body">
                    <strong>° Personal E - mail</strong>.
                </div>

                <div class="accordion-body">
                    <strong>° If Self Employed : Corporate Affair Commission</strong>.
                </div>

                <div class="accordion-body">
                  <strong>° If Employed : Employment Letter</strong>.
                </div>

                <div class="accordion-body">
                 <strong>° If Employed : Letter Of Introduction</strong>.
                </div>
                
              </div>
            </div>
          </div>

          <div class="px-3">
            <p class="mt-4"> CLICK THE BUTTON BELOW TO START YOUR APPLICATION<strong></strong></p>
            <button class="btn btn-warning"> APPLY NOW<i class="bi h4 bi-box-arrow-in-right"></i></button>      
        </div>
        
    <!-- </div> -->


</section>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}    