{% extends 'base.html' %}
{% load static %}


{% block content %}
    <header class="p-5 mt-5">
        <h1 class="mt-5 text-center">EDUCATION</h1>
    </header>
    <section id="undergraduate" class="p-1 pt-3 undergraduate">
        <h3 class="mb-5 header-text">Undergraduate Program.</h3>

        <!-- <div class="container"> -->
            
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingUK">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseUK" aria-expanded="false" aria-controls="flush-collapseUK">
                        <h6>Requirements To Study In <strong>UK, CANADA, U.S.A, SCHENGEN(EUROPE) </strong></h6>
                    </button>
                  </h2>
                  
                  <div id="flush-collapseUK" class="accordion-collapse collapse" aria-labelledby="flush-headingUK" data-bs-parent="#accordionFlushExample">
        
                    <div class="accordion-body">
                      <strong>° WEST AFRICAN EXAMINATION COUNCIL (WAEC) Result</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° High School(secondary school)  Transcripts</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Data Page Of International Passport </strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Course Of Study</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Statement Of Purpose</strong>.
                    </div>
                    <div class="accordion-body">
                        <strong>° Refusal, Removal Order or deportation Histories must be reported</strong>.
                    </div>
    
                    <div class="accordion-body">
                        <strong>° Travel History</strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° IELTS Exam (Not Compulsory Depending On The School)</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° High School Testimonial</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Result Checker </strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Birth Certificate / Affidavit or Attestation From FG</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° 1 Passport Photo (Black And White)</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Bank Statement</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Contact Address</strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Mobile Number</strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Personal E - mail</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Age 24 below must have a Sponsor (Parent/Guardian) </strong>.
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="px-3">
                <p class="mt-4"> CLICK THE BUTTON BELOW TO START YOUR APPLICATION</strong></p>
                <a href="/apply" class="btn btn-warning"> APPLY NOW<i class="bi h4 bi-box-arrow-in-right"></i></a>  
              </div>
        <!-- </div> -->
    </section>

    

    <!-- graduate section -->

    <section id="graduate" class="p-1 pt-3 graduate">
        <h3 class="mb-5 header-text">Graduate Program.</h3>

        <!-- <div class="container"> -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingUKgrad">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseUKgrad" aria-expanded="false" aria-controls="flush-collapseUKgrad">
                        <h6>Requirements To Study In <strong>UK, CANADA, U.S.A, SCHENGEN(EUROPE) </strong></h6>
                    </button>
                  </h2>
                  
                  <div id="flush-collapseUKgrad" class="accordion-collapse collapse" aria-labelledby="flush-headingUKgrad" data-bs-parent="#accordionFlushExample">
        
                    <div class="accordion-body">
                      <strong>° University Result / Certificate</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° University Transcripts</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° CV(Use Microsoft Word) </strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Data Page Of International Passport</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Course Of Study</strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Statement Of Purpose</strong>.
                    </div>
                    <div class="accordion-body">
                        <strong>° Refusal, Removal Order or deportation Histories must be reported</strong>.
                    </div>
    
                    <div class="accordion-body">
                        <strong>° Travel History</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° IELTS Exam(Not Compulsory) Depending On The School</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Result Checker </strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Birth Certificate / Affidavit or Attestation From FG</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° 1 Passport Photo (Black And White)</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Bank Statement</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Contact Address</strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Mobile Number</strong>.
                    </div>
                    
                    <div class="accordion-body">
                        <strong>° Personal E - mail</strong>.
                    </div>

                    <div class="accordion-body">
                        <strong>° Age 24 below must have a Sponsor (Parent/Guardian) </strong>.
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="px-3">
                <p class="mt-4"> CLICK THE BUTTON BELOW TO START YOUR APPLICATION<strong></strong></p>
                <a href="/apply" class="btn btn-warning"> APPLY NOW<i class="bi h4 bi-box-arrow-in-right"></i></a>  
            </div>
            
        <!-- </div> -->

    </section>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
