{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="p-5">
      <h1 class="text-center mt-5">MEDICAL</h1>
    </header>
    <section class="pt-3 p-1">
      <h3 class="mb-5 header-text">Medical.</h3>

      <!-- <div class="container"> -->
        <h4>Requirements For Medicals</h4>

        <div class="pt-5"><strong>° Type Of Illness</strong>.</div>

        <div class="pt-5"><strong>° Proof Of Accomodation</strong>.</div>

        <div class="pt-5">
          <strong>° Data Page Of International Passport (Scanned)</strong>.
        </div>

        <div class="pt-5"><strong>° Ticket</strong>.</div>

        <div class="pt-5"><strong>° Receipt Of Payment</strong>.</div>
        <div class="pt-5">
          <strong>° Passport Photograph White background (Scanned)</strong>.
        </div>

        <div class="pt-5">
          <strong>° Letter From Hospital From Both Countries</strong>.
        </div>

        <div class="pt-5">
          <strong>° Birth Certificate / Affidavit or Attestation From FG</strong
          >.
        </div>

        <div class="pt-5"><strong>° Contact Address</strong>.</div>

        <div class="pt-5"><strong>° Mobile Number</strong>.</div>

        <div class="pt-5"><strong>° Personal E - mail</strong>.</div>

        <!-- <div class="px-3"> -->
          <p class="mt-4">
            CLICK THE BUTTON BELOW TO START YOUR APPLICATION
          </p>

          <a href="/agreement" class="btn btn-warning"> APPLY NOW<i class="bi h4 bi-box-arrow-in-right"></i></a>  
        <!-- </div> -->
      <!-- </div> -->
    </section>

{% endblock %}